.products {
  padding: 60px;
  @include mobile {
    padding: 20px;
  }
  &__container {
    padding: 0 130px 0 175px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 45px 80px;
    @include mobile {
      grid-template-columns: 1fr 1fr;
      padding: 0px;
      gap: 10px;
    }
  }
}
