@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
$clr-primary-on: #40ca68;
$clr-primary-tw: #4cd964;
$clr-primary-th: #f5fff2;
$clr-primary-fo: #475871;
$clr-primary-fi: #475871;
$clr-primary-si: #c4c4c4;

$clr-secondary-on: #ffffff;
$clr-secondary-tw: #000000;
$clr-secondary-th: #ffc107;

$fonts-primary: "Fira Sans", sans-serif;
$clr-black: #000;
